@import "globals/colors";

.queued {
  background: white; // #DFF0D8;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-align: center;
  line-height: 3em;
  font-size: 1em;
  color: #000;
  border: 1px solid $border-color;
  font-family: "Arial Black", Gadget, sans-serif;
}

.question-title {
  clear: both;
}

.question-votes {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.upvote, .downvote {
  display: block;
  font-size: 1.3em;
  color: #000;
}

.total_votes {
  font-family: "Arial Black", Gadget, sans-serif;
  color: #000;
}

.answer-count {
  margin-top: 20px;
  margin-bottom: 15px;
}

.answer-count, .vote-count {
  color: gray;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
  margin-left: 10px;
}

.vote-count {
  border-top: 2px solid $border-color;
  padding-top: .5em;
  margin-bottom: 0;
}

#answers .answer-count {
  text-align: left;
}

.accepted {
  color: $article-color;
}

.upvote.cast {
  color: #43ac6a;
}

.downvote.cast {
  color: #f04124;
}

.deleted-question {
  background: #eee;
}

.questions .title {
  display: inline-block;
  vertical-align: middle;
}

.watching {
  display: block;
  margin: 20px 10px 20px 0;
}

.question-category-tag {
  padding: 11px 20px;
  background: #008cba;
  color: white;
  margin: 20px 10px 20px 0;
  font-size: 11px;
  display: block;

}
