---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiIzNDEyNDQ4NTg1NjktbWs3bDNpZWhzMnZqYmdqNXRjdmYyajNnYWhnbmMycHJAZGV2ZWxvcGVyLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvY2FsZW5kYXIucmVhZG9ubHkiLCJhdWQiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20vby9vYXV0aDIvdG9rZW4iLCJleHAiOjE0MjQzODAzMzUsImlhdCI6MTQyNDM4MDIxNX0.QnR0qiWp4uDKeXVhAmtnV3yBiCD49iBzGDJVfXqqovygkafmbLw5LvFLSCmKcOMI5db6wLYYOVrGcO5-EN4KSra-HxDSn_wkV75f8lKT1g-kjs7mO2qRmgXTfYF2AXS9zcDIy5WP6yz_gg1yFzLTc6O2kra6CPOyUA771raseZ4
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
      Alternate-Protocol:
      - 443:quic,p=0.08
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "ya29.HwH2e90KP1JiDWt3Uepwm-07Ew39j13sIKiNUxUqRbogcWOn2tn7NqNFP8l9YuJ6hQ-S3MhLlhJCdw",
          "token_type" : "Bearer",
          "expires_in" : 3600
        }
  recorded_at: Thu, 19 Feb 2015 21:11:15 GMT
- request:
    method: get
    uri: https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ye6orv2F-1npMW3u9suM3a7C5Bo/CII8UXtEyyGxw2FxaRcFu68a2uc"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.08
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "discovery#restDescription",
         "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/CII8UXtEyyGxw2FxaRcFu68a2uc\"",
         "discoveryVersion": "v1",
         "id": "calendar:v3",
         "name": "calendar",
         "version": "v3",
         "revision": "20141123",
         "title": "Calendar API",
         "description": "Lets you manipulate events and other calendar data.",
         "ownerDomain": "google.com",
         "ownerName": "Google",
         "icons": {
          "x16": "http://www.google.com/images/icons/product/calendar-16.png",
          "x32": "http://www.google.com/images/icons/product/calendar-32.png"
         },
         "documentationLink": "https://developers.google.com/google-apps/calendar/firstapp",
         "protocol": "rest",
         "baseUrl": "https://www.googleapis.com/calendar/v3/",
         "basePath": "/calendar/v3/",
         "rootUrl": "https://www.googleapis.com/",
         "servicePath": "calendar/v3/",
         "batchPath": "batch",
         "parameters": {
          "alt": {
           "type": "string",
           "description": "Data format for the response.",
           "default": "json",
           "enum": [
            "json"
           ],
           "enumDescriptions": [
            "Responses with Content-Type of application/json"
           ],
           "location": "query"
          },
          "fields": {
           "type": "string",
           "description": "Selector specifying which fields to include in a partial response.",
           "location": "query"
          },
          "key": {
           "type": "string",
           "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
           "location": "query"
          },
          "oauth_token": {
           "type": "string",
           "description": "OAuth 2.0 token for the current user.",
           "location": "query"
          },
          "prettyPrint": {
           "type": "boolean",
           "description": "Returns response with indentations and line breaks.",
           "default": "true",
           "location": "query"
          },
          "quotaUser": {
           "type": "string",
           "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
           "location": "query"
          },
          "userIp": {
           "type": "string",
           "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
           "location": "query"
          }
         },
         "auth": {
          "oauth2": {
           "scopes": {
            "https://www.googleapis.com/auth/calendar": {
             "description": "Manage your calendars"
            },
            "https://www.googleapis.com/auth/calendar.readonly": {
             "description": "View your calendars"
            }
           }
          }
         },
         "schemas": {
          "Acl": {
           "id": "Acl",
           "type": "object",
           "properties": {
            "etag": {
             "type": "string",
             "description": "ETag of the collection."
            },
            "items": {
             "type": "array",
             "description": "List of rules on the access control list.",
             "items": {
              "$ref": "AclRule"
             }
            },
            "kind": {
             "type": "string",
             "description": "Type of the collection (\"calendar#acl\").",
             "default": "calendar#acl"
            },
            "nextPageToken": {
             "type": "string",
             "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
            },
            "nextSyncToken": {
             "type": "string",
             "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
            }
           }
          },
          "AclRule": {
           "id": "AclRule",
           "type": "object",
           "properties": {
            "etag": {
             "type": "string",
             "description": "ETag of the resource."
            },
            "id": {
             "type": "string",
             "description": "Identifier of the ACL rule."
            },
            "kind": {
             "type": "string",
             "description": "Type of the resource (\"calendar#aclRule\").",
             "default": "calendar#aclRule"
            },
            "role": {
             "type": "string",
             "description": "The role assigned to the scope. Possible values are:  \n- \"none\" - Provides no access. \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs.",
             "annotations": {
              "required": [
               "calendar.acl.insert"
              ]
             }
            },
            "scope": {
             "type": "object",
             "description": "The scope of the rule.",
             "properties": {
              "type": {
               "type": "string",
               "description": "The type of the scope. Possible values are:  \n- \"default\" - The public scope. This is the default value. \n- \"user\" - Limits the scope to a single user. \n- \"group\" - Limits the scope to a group. \n- \"domain\" - Limits the scope to a domain.  Note: The permissions granted to the \"default\", or public, scope apply to any user, authenticated or not.",
               "annotations": {
                "required": [
                 "calendar.acl.insert"
                ]
               }
              },
              "value": {
               "type": "string",
               "description": "The email address of a user or group, or the name of a domain, depending on the scope type. Omitted for type \"default\"."
              }
             },
             "annotations": {
              "required": [
               "calendar.acl.insert"
              ]
             }
            }
           }
          },
          "Calendar": {
           "id": "Calendar",
           "type": "object",
           "properties": {
            "description": {
             "type": "string",
             "description": "Description of the calendar. Optional."
            },
            "etag": {
             "type": "string",
             "description": "ETag of the resource."
            },
            "id": {
             "type": "string",
             "description": "Identifier of the calendar."
            },
            "kind": {
             "type": "string",
             "description": "Type of the resource (\"calendar#calendar\").",
             "default": "calendar#calendar"
            },
            "location": {
             "type": "string",
             "description": "Geographic location of the calendar as free-form text. Optional."
            },
            "summary": {
             "type": "string",
             "description": "Title of the calendar.",
             "annotations": {
              "required": [
               "calendar.calendars.insert"
              ]
             }
            },
            "timeZone": {
             "type": "string",
             "description": "The time zone of the calendar. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) Optional."
            }
           }
          },
          "CalendarList": {
           "id": "CalendarList",
           "type": "object",
           "properties": {
            "etag": {
             "type": "string",
             "description": "ETag of the collection."
            },
            "items": {
             "type": "array",
             "description": "Calendars that are present on the user's calendar list.",
             "items": {
              "$ref": "CalendarListEntry"
             }
            },
            "kind": {
             "type": "string",
             "description": "Type of the collection (\"calendar#calendarList\").",
             "default": "calendar#calendarList"
            },
            "nextPageToken": {
             "type": "string",
             "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
            },
            "nextSyncToken": {
             "type": "string",
             "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
            }
           }
          },
          "CalendarListEntry": {
           "id": "CalendarListEntry",
           "type": "object",
           "properties": {
            "accessRole": {
             "type": "string",
             "description": "The effective access role that the authenticated user has on the calendar. Read-only. Possible values are:  \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs."
            },
            "backgroundColor": {
             "type": "string",
             "description": "The main color of the calendar in the hexadecimal format \"#0088aa\". This property supersedes the index-based colorId property. Optional."
            },
            "colorId": {
             "type": "string",
             "description": "The color of the calendar. This is an ID referring to an entry in the calendar section of the colors definition (see the colors endpoint). Optional."
            },
            "defaultReminders": {
             "type": "array",
             "description": "The default reminders that the authenticated user has for this calendar.",
             "items": {
              "$ref": "EventReminder"
             }
            },
            "deleted": {
             "type": "boolean",
             "description": "Whether this calendar list entry has been deleted from the calendar list. Read-only. Optional. The default is False.",
             "default": "false"
            },
            "description": {
             "type": "string",
             "description": "Description of the calendar. Optional. Read-only."
            },
            "etag": {
             "type": "string",
             "description": "ETag of the resource."
            },
            "foregroundColor": {
             "type": "string",
             "description": "The foreground color of the calendar in the hexadecimal format \"#ffffff\". This property supersedes the index-based colorId property. Optional."
            },
            "hidden": {
             "type": "boolean",
             "description": "Whether the calendar has been hidden from the list. Optional. The default is False.",
             "default": "false"
            },
            "id": {
             "type": "string",
             "description": "Identifier of the calendar.",
             "annotations": {
              "required": [
               "calendar.calendarList.insert"
              ]
             }
            },
            "kind": {
             "type": "string",
             "description": "Type of the resource (\"calendar#calendarListEntry\").",
             "default": "calendar#calendarListEntry"
            },
            "location": {
             "type": "string",
             "description": "Geographic location of the calendar as free-form text. Optional. Read-only."
            },
            "notificationSettings": {
             "type": "object",
             "description": "The notifications that the authenticated user is receiving for this calendar.",
             "properties": {
              "notifications": {
               "type": "array",
               "description": "The list of notifications set for this calendar.",
               "items": {
                "$ref": "CalendarNotification"
               }
              }
             }
            },
            "primary": {
             "type": "boolean",
             "description": "Whether the calendar is the primary calendar of the authenticated user. Read-only. Optional. The default is False.",
             "default": "false"
            },
            "selected": {
             "type": "boolean",
             "description": "Whether the calendar content shows up in the calendar UI. Optional. The default is False.",
             "default": "false"
            },
            "summary": {
             "type": "string",
             "description": "Title of the calendar. Read-only."
            },
            "summaryOverride": {
             "type": "string",
             "description": "The summary that the authenticated user has set for this calendar. Optional."
            },
            "timeZone": {
             "type": "string",
             "description": "The time zone of the calendar. Optional. Read-only."
            }
           }
          },
          "CalendarNotification": {
           "id": "CalendarNotification",
           "type": "object",
           "properties": {
            "method": {
             "type": "string",
             "description": "The method used to deliver the notification. Possible values are:  \n- \"email\" - Reminders are sent via email. \n- \"sms\" - Reminders are sent via SMS. This value is read-only and is ignored on inserts and updates.",
             "annotations": {
              "required": [
               "calendar.calendarList.insert",
               "calendar.calendarList.update"
              ]
             }
            },
            "type": {
             "type": "string",
             "description": "The type of notification. Possible values are:  \n- \"eventCreation\" - Notification sent when a new event is put on the calendar. \n- \"eventChange\" - Notification sent when an event is changed. \n- \"eventCancellation\" - Notification sent when an event is cancelled. \n- \"eventResponse\" - Notification sent when an event is changed. \n- \"agenda\" - An agenda with the events of the day (sent out in the morning).",
             "annotations": {
              "required": [
               "calendar.calendarList.insert",
               "calendar.calendarList.update"
              ]
             }
            }
           }
          },
          "Channel": {
           "id": "Channel",
           "type": "object",
           "properties": {
            "address": {
             "type": "string",
             "description": "The address where notifications are delivered for this channel."
            },
            "expiration": {
             "type": "string",
             "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
             "format": "int64"
            },
            "id": {
             "type": "string",
             "description": "A UUID or similar unique string that identifies this channel."
            },
            "kind": {
             "type": "string",
             "description": "Identifies this as a notification channel used to watch for changes to a resource. Value: the fixed string \"api#channel\".",
             "default": "api#channel"
            },
            "params": {
             "type": "object",
             "description": "Additional parameters controlling delivery channel behavior. Optional.",
             "additionalProperties": {
              "type": "string",
              "description": "Declares a new parameter by name."
             }
            },
            "payload": {
             "type": "boolean",
             "description": "A Boolean value to indicate whether payload is wanted. Optional."
            },
            "resourceId": {
             "type": "string",
             "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
            },
            "resourceUri": {
             "type": "string",
             "description": "A version-specific identifier for the watched resource."
            },
            "token": {
             "type": "string",
             "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
            },
            "type": {
             "type": "string",
             "description": "The type of delivery mechanism used for this channel."
            }
           }
          },
          "ColorDefinition": {
           "id": "ColorDefinition",
           "type": "object",
           "properties": {
            "background": {
             "type": "string",
             "description": "The background color associated with this color definition."
            },
            "foreground": {
             "type": "string",
             "description": "The foreground color that can be used to write on top of a background with 'background' color."
            }
           }
          },
          "Colors": {
           "id": "Colors",
           "type": "object",
           "properties": {
            "calendar": {
             "type": "object",
             "description": "Palette of calendar colors, mapping from the color ID to its definition. A calendarListEntry resource refers to one of these color IDs in its color field. Read-only.",
             "additionalProperties": {
              "$ref": "ColorDefinition",
              "description": "A calendar color defintion."
             }
            },
            "event": {
             "type": "object",
             "description": "Palette of event colors, mapping from the color ID to its definition. An event resource may refer to one of these color IDs in its color field. Read-only.",
             "additionalProperties": {
              "$ref": "ColorDefinition",
              "description": "An event color definition."
             }
            },
            "kind": {
             "type": "string",
             "description": "Type of the resource (\"calendar#colors\").",
             "default": "calendar#colors"
            },
            "updated": {
             "type": "string",
             "description": "Last modification time of the color palette (as a RFC 3339 timestamp). Read-only.",
             "format": "date-time"
            }
           }
          },
          "Error": {
           "id": "Error",
           "type": "object",
           "properties": {
            "domain": {
             "type": "string",
             "description": "Domain, or broad category, of the error."
            },
            "reason": {
             "type": "string",
             "description": "Specific reason for the error. Some of the possible values are:  \n- \"groupTooBig\" - The group of users requested is too large for a single query. \n- \"tooManyCalendarsRequested\" - The number of calendars requested is too large for a single query. \n- \"notFound\" - The requested resource was not found. \n- \"internalError\" - The API service has encountered an internal error.  Additional error types may be added in the future, so clients should gracefully handle additional error statuses not included in this list."
            }
           }
          },
          "Event": {
           "id": "Event",
           "type": "object",
           "properties": {
            "anyoneCanAddSelf": {
             "type": "boolean",
             "description": "Whether anyone can invite themselves to the event. Optional. The default is False.",
             "default": "false"
            },
            "attendees": {
             "type": "array",
             "description": "The attendees of the event.",
             "items": {
              "$ref": "EventAttendee"
             }
            },
            "attendeesOmitted": {
             "type": "boolean",
             "description": "Whether attendees may have been omitted from the event's representation. When retrieving an event, this may be due to a restriction specified by the maxAttendee query parameter. When updating an event, this can be used to only update the participant's response. Optional. The default is False.",
             "default": "false"
            },
            "colorId": {
             "type": "string",
             "description": "The color of the event. This is an ID referring to an entry in the event section of the colors definition (see the  colors endpoint). Optional."
            },
            "created": {
             "type": "string",
             "description": "Creation time of the event (as a RFC 3339 timestamp). Read-only.",
             "format": "date-time"
            },
            "creator": {
             "type": "object",
             "description": "The creator of the event. Read-only.",
             "properties": {
              "displayName": {
               "type": "string",
               "description": "The creator's name, if available."
              },
              "email": {
               "type": "string",
               "description": "The creator's email address, if available."
              },
              "id": {
               "type": "string",
               "description": "The creator's Profile ID, if available."
              },
              "self": {
               "type": "boolean",
               "description": "Whether the creator corresponds to the calendar on which this copy of the event appears. Read-only. The default is False.",
               "default": "false"
              }
             }
            },
            "description": {
             "type": "string",
             "description": "Description of the event. Optional."
            },
            "end": {
             "$ref": "EventDateTime",
             "description": "The (exclusive) end time of the event. For a recurring event, this is the end time of the first instance.",
             "annotations": {
              "required": [
               "calendar.events.import",
               "calendar.events.insert",
               "calendar.events.update"
              ]
             }
            },
            "endTimeUnspecified": {
             "type": "boolean",
             "description": "Whether the end time is actually unspecified. An end time is still provided for compatibility reasons, even if this attribute is set to True. The default is False.",
             "default": "false"
            },
            "etag": {
             "type": "string",
             "description": "ETag of the resource."
            },
            "extendedProperties": {
             "type": "object",
             "description": "Extended properties of the event.",
             "properties": {
              "private": {
               "type": "object",
               "description": "Properties that are private to the copy of the event that appears on this calendar.",
               "additionalProperties": {
                "type": "string",
                "description": "The name of the private property and the corresponding value."
               }
              },
              "shared": {
               "type": "object",
               "description": "Properties that are shared between copies of the event on other attendees' calendars.",
               "additionalProperties": {
                "type": "string",
                "description": "The name of the shared property and the corresponding value."
               }
              }
             }
            },
            "gadget": {
             "type": "object",
             "description": "A gadget that extends this event.",
             "properties": {
              "display": {
               "type": "string",
               "description": "The gadget's display mode. Optional. Possible values are:  \n- \"icon\" - The gadget displays next to the event's title in the calendar view. \n- \"chip\" - The gadget displays when the event is clicked."
              },
              "height": {
               "type": "integer",
               "description": "The gadget's height in pixels. Optional.",
               "format": "int32"
              },
              "iconLink": {
               "type": "string",
               "description": "The gadget's icon URL."
              },
              "link": {
               "type": "string",
               "description": "The gadget's URL."
              },
              "preferences": {
               "type": "object",
               "description": "Preferences.",
               "additionalProperties": {
                "type": "string",
                "description": "The preference name and corresponding value."
               }
              },
              "title": {
               "type": "string",
               "description": "The gadget's title."
              },
              "type": {
               "type": "string",
               "description": "The gadget's type."
              },
              "width": {
               "type": "integer",
               "description": "The gadget's width in pixels. Optional.",
               "format": "int32"
              }
             }
            },
            "guestsCanInviteOthers": {
             "type": "boolean",
             "description": "Whether attendees other than the organizer can invite others to the event. Optional. The default is True.",
             "default": "true"
            },
            "guestsCanModify": {
             "type": "boolean",
             "description": "Whether attendees other than the organizer can modify the event. Optional. The default is False.",
             "default": "false"
            },
            "guestsCanSeeOtherGuests": {
             "type": "boolean",
             "description": "Whether attendees other than the organizer can see who the event's attendees are. Optional. The default is True.",
             "default": "true"
            },
            "hangoutLink": {
             "type": "string",
             "description": "An absolute link to the Google+ hangout associated with this event. Read-only."
            },
            "htmlLink": {
             "type": "string",
             "description": "An absolute link to this event in the Google Calendar Web UI. Read-only."
            },
            "iCalUID": {
             "type": "string",
             "description": "Event ID in the iCalendar format.",
             "annotations": {
              "required": [
               "calendar.events.import"
              ]
             }
            },
            "id": {
             "type": "string",
[...]
